<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      IAP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-label>Products </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let p of products">
        <ion-item button *ngIf="p.type!=='paid subscription'" (click)="purchase(p)" detail="false"
          class="ion-no-padding">
          <ion-label class="ion-text-wrap">
            {{ p.title }}
            <p>{{ p.description }}</p>
          </ion-label>
          <ion-button slot="end">
            {{ p.price }} {{ p.currency }}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-label>Subscription </ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let p of products">
        <ion-item button *ngIf="p.type==='paid subscription'" (click)="purchase(p)" detail="false"
          class="ion-no-padding">
          <ion-label class="ion-text-wrap">
            {{ p.title }}
            <p>{{ p.description }}</p>
          </ion-label>
          <ion-button slot="end">
            {{ p.price }} {{ p.currency }}
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>



  <ion-button expand="full" (click)="restore()">refresh</ion-button>

  <ion-item>
    Gems: {{ gems }}
  </ion-item>
  <ion-item>
    Is Pro: {{ isPro }}
  </ion-item>
</ion-content>